<%= form_for(resource, :html => {:class => "form_style"}, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<p class="field">
	<%= f.email_field :email, :placeholder => "Email" %></div>
	<i class="icon-user icon-large"></i>
</p>
<p class="field">
	<%= f.password_field :password, :placeholder => "Password" %></div>
	<i class="icon-lock icon-large"></i>
</p>
<p class="submit">
	<%= f.submit ">" %>
</p>
<% if devise_mapping.rememberable? -%>
<div><%= f.check_box :remember_me %> <%= f.label :remember_me, :class => "remember" %></div>
<% end %>
<% end %>
<div id="sign_links">
<%= render "devise/shared/links" %>
</div>

