<div class="post_page">
	<div class="post_title"><%= @post.title %></div>
	<div id='post'>
		<p><%= @post.text %></p>
		<% if current_user %>
			<%= pluralize @post.reputation_for(:votes).to_i, "vote" %>
			<%= link_to "up", vote_post_path(@post, type: "up"), method: "post" %>
			<%= link_to "down", vote_post_path(@post, type: "down"), method: "post" %>
		<% end %>
		<p>A suggestion from <%= link_to post_author(@post.user_id), user_path(@post.user_id) %></p>
		<%= link_to "Add Comment", new_post_comment_path(@post) %>
	</div>
	<div id="comment_box">
		<%= render partial: "comments", collection: @comments %>
	</div>
</div>
