<div class="post_page">
  <div class="post_title"><%= @post.title %> [<%= @post.score %>]</div>
      <div class="vote_arrows">
      <%= render partial: 'votes/vote', :locals => { :voteable => @post } %>
    </div>
  <div id='post'>
    <p><%= @post.text %></p>
    <p class="author">A suggestion from <%= link_to post_author(@post.user_id), user_path(@post.user_id) %></p>
    <% if user_signed_in? %>
      <%= link_to "Add Comment", new_post_comment_path(@post) %>
    <% end %>

    <div id="comment_box">
      <%= render partial: "comments", collection: @comments %>
    </div>
  </div>

</div>
