<div class="post_page">
  <div class="post_header">
    <%= @post.title %>
  </div>
  <div id="post_vote_buttons">
    <%= render partial: 'votes/vote', :locals => { :voteable => @post } %>
  </div>
  <div id='post'>
    <p><%= @post.text %></p>
    <div class="author">A suggestion from <%= link_to post_author(@post.user_id), user_path(@post.user_id) %></div>
    <% if user_signed_in? %>
      <%= link_to "Add Comment", new_post_comment_path(@post) %>
    <% end %>
    <div id="all_comments">
      <%= render partial: "comments", collection: @comments %>
    </div>
  </div>

</div>
