<span class="vote-buttons" data-vote-value='<%= current_user.vote_value(voteable) %>' data-vote-id="<%= current_user.vote_id(voteable) %>">

  <%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, 
      votes_path(:vote => { :voteable_type => voteable.class.name, 
                            :voteable_id => voteable.id, value: 1 }), 
      :method => :post, 
      remote: true, 
      :class => "up vote-button" %>

  <%= link_to '<i class="icon-thumbs-down"></i>'.html_safe, 
      votes_path(:vote => { :voteable_type => voteable.class.name, 
                            :voteable_id => voteable.id, value: -1 }), 
      :method => :post, 
      remote: true, 
      :class => "down vote-button" %>

      [<span class="score"><%= voteable.score %></span>]

</span>
